body {
    font-family: sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}   

a {
    text-decoration: none;
}

a,
.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.first-section {
    background-color: #1F2937;
}

.top-part { 
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: auto;
    gap: 128px;
    padding-top: 16px;
}

.header {  
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 900; /* not listed on Color and Fonts .png */
    color: #f9FAF8;
}

.links {
    display: flex;
    gap: 16px;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 128px;
    margin-bottom: 128px;
}

.hero-main {
    display: flex;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: 900;
    color: #f9FAF8; 
}

.hero-secondary {
    display: flex;
    flex-wrap: wrap;
}

.left-hero {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.itachi {
    max-width: 300px;
    height: auto;
}

.button {
    color: #ffffff;
    background-color: #3882f6;
    padding: 8px 24px;
    font-weight: bold;
}

.button, /* frame entfernen */
.frame {
    border-radius: 8px;
    border: none;
}

/* second seciton */

.second-section {
    background-color: #f9FAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin-top: 48px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 70%;
    gap: 48px;
    text-align: center;
    margin-bottom: 128px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.pfp {
    width: 150px;
    height: auto;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 8px;
}

.text {
    color: #898a8a;
}
/* third section */

.third-section {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 128px;
}

.quote-container {
    max-width: 70%;
}

.citation {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.quote {
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.credit {
    margin-left: auto;
    margin-right: 25%;
    font-size: 24px;
    font-weight: 900;
}