body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}   

a {
    text-decoration: none;
}

a,
.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.first-section {
    background-color: #1F2937;
}

.top-part { 
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: auto;
    gap: 128px;
    padding-top: 16px;
}

.header {  
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9FAF8;
}

.links {
    display: flex;
    gap: 16px;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin-bottom: 128px;
}

.hero-main {
    display: flex;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8; 
}

.hero-secondary {
    display: flex;
}

.left-hero {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.placeholder {
    max-width: 400px;
    height: 200px;
    opacity: 0.5;
}

.btn {
    color: #ffffff;
    background-color: #3882F6;
}

.btn,
.second-btn {
    padding: 8px 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
}

#img-placeholder {
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 10rem;
    background-color: #6d747d;
    color: #E5E7EB;
}

/* second seciton */

.second-section {
    background-color: #F9FAF8;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
    margin-top: 48px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 70%; 
    gap: 64px;
    text-align: center;
    margin-bottom: 5rem;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 150px;
    gap: 8px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.small-placeholder {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 8px;
    border-width: 4px;
}

 .text {
    color: #898A8A;
}
/* third section */

.third-section {
    background-color: #E5E7EB;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 128px;
}

.quote-container {
    max-width: 90%;
}

.citation {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.quote {
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.credit {
    margin-left: auto;
    margin-right: 25%;
    font-size: 28px;
    font-weight: bold;
}

/* fourth section */

.fourth-section {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

.blue-container {
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 70%;
    gap: 24px;
    padding: 48px 124px;
}

.call {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.btn-container {
    flex-shrink: 0;
}

.second-btn {
    color: #F9FAF8;
    background-color: #3882F6;
    border-color: #F9FAF8;
    border-width: 4px;
}   

/* footer */

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    gap: 12px;
}


.footer-text {
    color: #E5E7EB;
    font-size: 18px;
}

