body {
    font-family: sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}   

a {
    text-decoration: none;
}

a,
.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.most-outer {
    background-color: #1F2937;
}

.top-part { 
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: auto;
    gap: 128px;
    padding-top: 16px;
}

.header {  
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 900; /* not listed on Color and Fonts .png */
    color: #f9FAF8;
}

.links {
    display: flex;
    gap: 16px;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 128px;
    margin-bottom: 128px;
}

.hero-main {
    display: flex;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: 900;
    color: #f9FAF8; 
}

.hero-secondary {
    display: flex;
    flex-wrap: wrap;
}

.left-hero {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.itachi {
    max-width: 300px;
    height: auto;
}

.button {
    color: #ffffff;
    background-color: #3882f6;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
}