body {
    font-family: sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}   

a {
    text-decoration: none;
}

a,
.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.top-part {
    background-color: #1F2937;
    padding: 16px;
    gap: 64px;
    display: flex;
    flex-direction: column;
    max-width: 65%;
    
    margin: auto;
}

.header {  
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 900; /* not listed on Color and Fonts .png */
    color: #f9FAF8;
}

.links {
    display: flex;
    gap: 16px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9FAF8; 
    max-width: 300px;
}

.hero-secondary {
    max-width: 400px;
}

.left-hero {
    display: flex;
    flex-direction: column;
}

.itachi {
    width: 300px;
}

.exp {
    background-color: #1F2937;
    
}